*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.container{
    width: 100%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    height: 62vh;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.container form{
  width: 60%;
  background-color: #12a4d9;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  flex-wrap: wrap;
}

.container .titre{
    flex-wrap: wrap;
    width: 40%;
    overflow: hidden;
}

.titre img{
  width: 90%;
  position: relative;
  top: 90px;
}
.titre h1{
  text-align: center;
  color: #322e2f;
  font-family: sans-serif;
  font-size: 2rem;
  margin-top: 50px;
  
}
.titre span{
  color: rgb(244, 127, 127);
}

.titre p{
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
}
  
  form h1:first-child {
    color: #322e2f;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 30px;
  }

  form .social{
    margin: 15px;
    display:flex ;
    justify-content: center;
    color: #fff;
    transition: 0.5s;
}

form .social :hover{
    transform: translateY(-10px);
}

form .social p{
    padding: 10px;
    margin-left: 10px;
    border: 2px solid  #322e2f;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}
  
  form .user-box {
    position: relative;
    bottom: 30px;
  }
  
  form .user-box input {
    width: 80%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin: 10px;
    margin-left: 11%;
    border: none;
    border-bottom: 1px solid #fff ;
    outline: none;
    background: transparent;
    flex-wrap: wrap;
  }

  form .user input {
    width: 80%;
    color: #fff;
    margin-left: 11%;
    border: 1px solid #fff ;
    background: transparent;
    flex-wrap: wrap;
    outline: none;
    height: 170px;
  }


  
  form .user-box label {
    font-family: sans-serif;
    position: absolute;
    margin-left: 11%;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    flex-wrap: wrap;
  }
  
  form .user-box input:focus ~ label,
  form .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #322e2f;
    font-size: 13px;
  }

.button{
  font-size: 20px;
  padding:0.6rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  background: #322e2f;
  transition: all 0.3s ease-out;
  outline: none;
  /*margin-left: 67%;*/
  position: relative;
  top: 20px;
  font-family: sans-serif;
  float: right;
  margin-right: 35px;
}


.overlay{
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  transition: opacity .4s;
  visibility: hidden;
  opacity: 0;
}


.overlay:target{
  visibility: visible;
  opacity: 1;
}

.popup{
  margin: 6rem auto;
  padding: 2rem;
  background: linear-gradient(#12a4d9,#fff);
  border-radius: 5px;
  width: 35%;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.popup .cross{
  position: relative;
  left: 90%;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  color: #322e2f;
}

.popup .cross :hover{
  color: #000;
}

.popup h2{
  color: #fff;
  font-family: sans-serif;
  margin: 20px;
  font-size: 2rem;
}

.popup p{
  color: #322e2f;
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px;
}

@media screen and (max-width:970px){
  .container{
    padding: 0;
    overflow: hidden;
  }

  form .social{
    display: flex;
    margin-left: 0;
}

form .social p{
  border-radius: 70%;
  margin-top: 2px;
  
}

.form .user-box {
  margin-bottom: 0px;
  padding-top: 0px;
 
}

.form .user-box input {
  padding: 10px 0;
  margin: 5px;
  margin-left: 10%;
  flex-wrap: wrap;
}

form .user-box label {
  margin: 15px;
  margin-left: 11%;
  top: 0;
  left: 0;
  padding: 0;
  flex-wrap: wrap;
}
}

@media screen and (max-width:500px){

.container .titre{
 display: none;
}
.container form{
  width: 100%;
}

}