

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    height: 100vh;
    width: 100vw;
    background: url(../Images/backround.jpeg);
    background-size: cover;
}

.logo-img{
   position: absolute;
   left: 10px;
}

.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.navbar a{
    color:#322e2f;
}

.navbar .logo{
    font-size: 3rem;
    font-weight: bold;
    color: #12a4d9;
    margin-top: 100px;
}

.navbar span{
    color: rgb(244, 127, 127);;
}


.navbar .nav-links{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: sans-serif;

}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
   margin: 0 25px;
}


.navbar .nav-links ul li.active a{
   color: #12a4d9;
   font-weight: 600;
 }

 .navbar .fa-solid{
    position: absolute;
    width: 35px;
    top: 50px;
    right: 50px;
    display: none;
 }

 .nav-links.mobile-menu{
    margin-left: 0;

 }

 header {
    width: 100%;
    display: flex;
 }
 header .gauche{
    width: 50%;
 }

 header .centre{
    width: 40%;
    float: left;
    margin-top: 300px;
    flex-wrap: wrap;
    height: 100vh;
 }

 .centre p{
    
    padding: 20px;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #322e2f;
    border-radius: 50px/50px;
    opacity: 0.8;
 }

 .centre button{
    width: 25%;
    padding: 10px;
    height: 50px;
    color: #322e2f;
    margin-top: 35px;
    margin-left: 40%;
    border-radius: 20px/50px;
    border: none;
    font-size: 20px;
 }

 .centre i{
   position: relative;
   left: 35%;
   font-size: 40px;
   margin-left: 10px;
   color: #12a4d9;
  
 }

 .centre button i{
    font-size: 20px;
    position: relative;
    left: 10%;
    margin-left: 0;
 }

 #principal{
   font-family: sans-serif;
   display: grid;
   height: 97vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1.5fr 2fr 1fr;
   grid-template-areas: 
   "nav nav nav nav"
   "sideBar main main main"
   "sideBar firstElement secondElement thirdElement"
   "sideBar footer footer footer"
   ;
   text-align: center;
   gap: 0.2rem;
 }

 #principal nav{
   background-color: #6b7b8c;
   grid-area: nav;
 }
 main{
   background-color: #6b7b8c;
   grid-area:  main;
 }
 .sideBar{
   background-color: #6b7b8c;
   grid-area: sideBar;
 }
 .firstElement{
   background-color: #6b7b8c;
   grid-area: firstElement;
 }
 .secondElement{
   background-color: #6b7b8c;
   grid-area: secondElement;
 }
 .thirdElement{
   background-color: #6b7b8c;
   grid-area: thirdElement;
 }
 #principal footer{
   background-color: #6b7b8c;
   grid-area: footer;
 }

 footer .container{
    background-color: #322e2f;
 }

 .row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
 }

 .footer-col ul{
    list-style: none;
 }

 .footer-col  h4{
    color: #12a4d9;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: sans-serif;
 }

 .footer-col  h4::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    bottom: -10px;
 }

 .footer-col ul li{
    padding: 10px 0;
 }

 .footer-col p{
    font-family: sans-serif;
    color: white;
 }

 .footer-col ul li img{
    width: 20%;
    height: 50px;
 }

 .footer-col ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.5s;
    font-family: sans-serif;
 }

 .footer-col ul li a:hover{
    opacity: 1;
 }

 .footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
    border-radius: 20px/50px;

 }

 .footer-col .inputSubmit{
    padding: 0px 20px;
    background-color: #12a4d9;
    color: #322e2f;
    border-radius: 20px/50px;
    text-transform: uppercase;

 }

 .centre .inputSubmit{
   padding: 0px 20px;
    background-color: #12a4d9;
    color: #322e2f;
    border-radius: 20px/50px;
    text-transform: uppercase;
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
 }

 .col p{
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
 }
 .row hr{
    opacity: 0.7;
 }

 .row .Icon i{
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 0 15px;
    transition: 0.5s;
 }

 .row .Icon i:hover{
    color: #12a4d9;
 }

 .foooter-col input[type="mail"],input[type="text"]{
   padding: 15px;
   border-radius: 5px;
   border: none;
   background-color: #f2f2f2;
   margin-bottom: 35px;
   outline: none;
}

@media screen and (max-width:900px){
    .navbar{
        padding: 0;
    }
    .navbar .fa-solid{
        display: block;
    }

    .nav-links{
       top: 0;
       left: 0;
       position: absolute;
       backdrop-filter: blur(8px);
       background-color: #e7eee873;
       width: 100%;
       font-size: 12px;
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left: -100%;
       transition: all 0.5s ease;
    }
    .nav-links ul{
       display: flex;
       flex-direction: column;
       align-items: center;
     }
     .centre{
      top: 0;
      left: 0;
      position: absolute;
      backdrop-filter: blur(8px);
      background-color: #e7eee873;
      width: 100%;
      font-size: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -100%;
      transition: all 0.5s ease;
     }


.navbar .nav-links ul li{
    margin: 25px 0;
 }

.navbar .logo{
   position: absolute;
   top: 40px;
   left: 10px;
}

.centre p{
    width: 30vw;
    font-size: 10px;
    text-transform: none;
    height: 90px;
    overflow: hidden;
}
 header .centre{
    flex-direction: column;
    padding: 20px 30px;
    margin-bottom: 20px;
    height: 100px;
}


#principal{
   flex-wrap: wrap;
 }

footer .row{
    flex-direction: column;
    padding: 20px 30px;
}

footer .foooter-col ul{
   margin-left: 20px;
   margin-bottom: 20px;
   align-items: center;
}

.foooter-col input{
    width: 100%;
}

.centre input{
   width: 100%;
}

.centre input p{
   flex-direction: column;
   padding: 20px 30px;
   font-size: 10px;
}

 }